<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>Distri-shoe-tion DB</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1>Distri-shoe-tion Database</h1>
            </div>

            <h2>View, Add, or Edit:</h2>
            <a href='/stores'>Stores</a><br>
            <a href='/brands'>Brands</a>
        </div>
    </body>
</html>
