<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>        <title>Distri-shoe-tion DB</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1>Distri-shoe-tion | Stores</h1>
            </div>

            <h2>Add a Store</h2>
            <form action='/stores' method='post'>
                <input placeholder='Store Name' type='text' name='name'>
                <input placeholder='City' type='text' name='city'>
                <button type='submit' class='btn btn-success'>Add Store</button>
            </form>

            <h2>ALL STORES:</h2>
            {% if stores is not empty %}
                <ul>
                    {% for store in stores %}
                        <li> <a href='/stores/{{ store.getId }}'>{{ store.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h4>There are no stores in your database.</h4>
            {% endif %}

            <form action='/delete_stores' method='post'>
                <input type='hidden' name='_method' value='delete'>
                <button type='submit' class='btn btn-danger'>Delete All Stores</button>
            </form>

            <a href='/'>Home</a>
        </div>
    </body>
</html>
